{% extends 'tasks/base.html' %}

{% block title %}Создание нового пользователя{% endblock %}

{% load bootstrap %}

{% block content %}
<div class="user_profile_container">
    <h1>Создать пользователя</h1>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
        <form method="post" action="" autocomplete="off">
        {% csrf_token %}
            {{ form.username|bootstrap }}
            {{ form.password|bootstrap }}
            {{ form.first_name|bootstrap  }}
            {{ form.last_name|bootstrap  }}
            {{ form.is_staff|bootstrap  }}
        <input type="submit" class="save btn btn-default pull-right" value="Создать нового пользователя" />
    </form>
</div>
{% endblock %}