/* Вообще все стили из bootstrap берем  */


.my_container {
    width: 100%;
    max-width: 1000px;
    text-align: center
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.err_container {
    width: 100%;
    max-width: 500px;
    text-align: center
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.user_profile_container {
    width: 100%;
    max-width: 500px;
    text-align: center
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.icon-success {
    color: #5CB85C;
}

.icon-error {
    color: #DD4646;
}
