{% extends 'tasks/base.html' %}

{% block content %}
<div class="container" id="new_comment" style="width: 400px">
    <h1>Комментарий</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <p>{{ c_form.text }}</p>
        <p>{{ c_form.change_state }}</p>
        <div id="change_id" class="change" style="display:none">
        <p>Назначить на: {{ upd_task.assigned_to}}</p>
        <p>{{ upd_task.status}}</p>
        </div>
        <p><button type="submit" class="save btn btn-default">Отправить</button></p>
    </form>
</div>
{% endblock %}