{% extends 'tasks/base.html' %}

{% block title %}Добавить комментарий{% endblock %}

{% load bootstrap %}

{% block content %}
<div class="my_container">
    <h1>Добавить комментарий</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ c_form.text|bootstrap }}
        {{ c_form.change_state|bootstrap }}
        <div id="change_id" class="change" style="display:none">
        {{ upd_task.assigned_to|bootstrap}}
        {{ upd_task.status|bootstrap }}
        </div>
        <p><button type="submit" class="save btn btn-default pull-right">Отправить</button></p>
    </form>
</div>
{% endblock %}