{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/assignment_of_tasks.css' %}">
</head>
<body>
<div class="page-header">
    <div style="text-align: right;">
        <a target="_blank" href="/admin" style="text-align: right;">Admin</a>
    </div>
    <table>
        <tr>
            <td> <h1><a href="/">All tasks</a></h1></td>
                {% if user.is_authenticated %}
                <td><h2><a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"  style='padding-left:15px;'></span></a></h2></td>
                {% endif %}
        </tr>
    </table>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>


</body>
</html>