{% extends 'tasks/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">
  <h2>{{ title }}</h2>
  <div class="list-group">
    <!-- <a href="#" class="list-group-item active"> -->
    {% for task in tasks %}

        {% ifequal task.assigned_to.username user.username %}
           <a href="{% url 'task_detail' pk=task.pk %}" class="list-group-item" style="background: #ffc;">
        {% else %}
           <a href="{% url 'task_detail' pk=task.pk %}" class="list-group-item">
        {% endifequal %}
               <h4 class="list-group-item-heading">#{{ task.pk }} {{ task.title }} <span class="badge">{{ task.comments.count }}</span></h4>
        <p class="list-group-item-text">Статус: <b>{{ task.status.title }}</b></p>
          <p class="list-group-item-text">Создал: <b>{{ task.author.last_name }} {{ task.author.first_name }}</b> <font color="red">{{ task.created_date }}</font></p>
          <p class="list-group-item-text">Назначена на: <b>{{ task.assigned_to.last_name }} {{ task.assigned_to.first_name }}</b></p><br>
        <p class="list-group-item-text">{{ task.text|linebreaksbr }}</p>
      </a>

    {% endfor %}


{% if tasks.has_other_pages %}
  <ul class="pagination">
    {% if tasks.has_previous %}
      <li><a href="?page={{ tasks.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in tasks.paginator.page_range %}
      {% if tasks.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if tasks.has_next %}
      <li><a href="?page={{ tasks.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

  </div>
</div>

{% endblock %}