{% extends 'tasks/base.html' %}

{% block content %}
<div class="post">
    <div class="date">
        {{ task.created_date }}
        <p> Задача назначена на: {{ task.assigned_to }} </p>
        <p> Cтатус: {{ task.get_status_display }} </p>
    </div>
    {% if user.is_authenticated %}
    <h1>{{ task.title }}
        <a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}"><span
                class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'task_remove' pk=task.pk %}"><span
                class="glyphicon glyphicon-remove"></span></a>
    </h1>
    {% endif %}
    <p>{{ task.text|linebreaksbr }}</p>
</div>

<hr>
{% for comment in task.comments.all %}
<div class="comment">
    {% ifequal "root" comment.author %}
    ПРИВЕТ
    {% endifequal %}
    <div class="date">{{ comment.created_date }}</div>
    <strong>{{ comment.author }}</strong>
    <p>{{ comment.text|safe }}</p>
</div>
{% empty %}
<p>No comments here yet :(</p>
{% endfor %}
<a class="btn btn-default" href="{% url 'add_comment_to_task' pk=task.pk %}">Add comment</a>
{% endblock %}