{% extends 'tasks/base.html' %}

{% block content %}
    <div class="post">
        {% if task.created_date %}
            <div class="date">
                {{ task.created_date }}
            </div>
        {% endif %}
            {% if user.is_authenticated %}
              <h1>{{ task.title }} <a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h1>
            {% endif %}
        <p>{{ task.text|linebreaksbr }}</p>
    </div>
{% endblock %}