{% extends 'tasks/base.html' %}

{% block title %}Создание новой задачи{% endblock %}

{% load bootstrap %}
{% block content %}
<div class="my_container">
    <h1>Новая задача</h1>
    <form method="POST" class="post-form">{% csrf_token %}
            {{ form.assigned_to|bootstrap }}
            {{ form.title|bootstrap }}
            {{ form.text|bootstrap }}
            {{ form.status|bootstrap }}
        <button type="submit" class="save btn btn-default pull-right">Создать</button>
    </form>
</div>
{% endblock %}