{% extends 'tasks/base.html' %}

{% block content %}
<div class="container" id="post">
    <div class="task">
        <h1>
            {{ task.title }}
            {% ifequal user.username task.author.username %}
            <a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}"><span
                    class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'task_remove' pk=task.pk %}"><span
                    class="glyphicon glyphicon-remove"></span></a>
            {% endifequal %}
        </h1>
        <h6>Статус: {{ task.status.title }}</h6>
        <h6>Создал: <b>{{ task.author.last_name }} {{ task.author.first_name }}</b> <font color="red">{{ task.created_date }}</font></h6>
        <h6>Назначена на: <b>{{ task.assigned_to.last_name }} {{ task.assigned_to.first_name }}</b></h6>
        <p>{{ task.text|linebreaksbr }}</p>
        <hr>
    </div>
    {% for comment in task.comments.all %}
    <div class="comment">
        <h4>{{ comment.author.last_name }} {{ comment.author.first_name }} <font color="red" size="2"> {{ comment.created_date }}</font>
            {% ifequal user.username comment.author.username %}
            <a class="btn btn-default" href="{% url 'comment_remove' pk_task=task.pk pk_com=comment.pk %}"><span
                     class="glyphicon glyphicon-remove"></span></a>
            {% endifequal %}
        </h4>
            {% ifequal comment.change_state 'Y' %}

                {% ifnotequal comment.old_assigned_to comment.new_assigned_to %}
                    <p><em><font size="2">Параметр 'Назначена' изменен с <b>{{ comment.old_assigned_to.get_full_name }}</b> на <b>{{ comment.new_assigned_to.get_full_name }}</b> </font></em></p>
                {% endifnotequal %}

                {% ifnotequal comment.old_status comment.new_status %}
                    <p><em><font size="2">Параметр 'Статус' изменен с <b>{{ comment.old_status }}</b> на <b>{{ comment.new_status }}</b> </font></em></p>
                {% endifnotequal %}

            {% endifequal %}
        <p> {{ comment.text|safe }}</p>

        <br>
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <p class="text-right"><a class="btn btn-default" href="{% url 'add_comment_to_task' pk=task.pk %}">Добавить
        комментарий</a></p>
    {% endif %}
</div>
{% endblock %}